---
// TypingAnimation.astro
// No JavaScript logic in the frontmatter for this component
---

<div class="typing-animation">
    <span id="typing-text"></span><span class="cursor"></span>
  </div>
  
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      const words = ["Data Detective", "Guitarist", "Curious", "Machine Learning"];
      const typingSpeed = 80;
      const deleteSpeed = 75;
      const delayBetweenWords = 1000;
  
    //   var textElement = "Data Detective"
      const textElement = document.getElementById('typing-text');
      let text = '';
      let wordIndex = 0;
      let isDeleting = false;
  
      function type() {
        const currentWord = words[wordIndex];
  
        if (isDeleting) {
          text = currentWord.substring(0, text.length - 1);
        } else {
          text = currentWord.substring(0, text.length + 1);
        }
  
        if (textElement) {
            textElement.textContent = text;
        }
  
        let typeSpeed = isDeleting ? deleteSpeed : typingSpeed;
  
        if (!isDeleting && text === currentWord) {
          typeSpeed = delayBetweenWords;
          isDeleting = true;
        } else if (isDeleting && text === '') {
          isDeleting = false;
          wordIndex = (wordIndex + 1) % words.length;
        }
  
        setTimeout(type, typeSpeed);
      }
  
      type();
    });
  </script>
  
  <style>
  .typing-animation {
    font-family: 'Courier New', monospace;
    font-size: 32px;
    white-space: nowrap;
  }
  
  .cursor {
    display: inline-block;
    width: 40ch;
    background-color:whitesmoke;
    margin-left: 2px;
    animation: blink 0.1s steps(2) infinite;
  }
  
  @keyframes blink {
    50% {
      background-color: transparent;
    }
  }
  </style>
  